/* You can add global styles to this file, and also import other style files */
.border {
  border: 1px solid
}

.p-5 {
  padding: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.b-r {
  border-right: 1px solid
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.search {
  color: gray;
  cursor: pointer;
}

.w30 {
  position: relative;
  width: 30%;
}

.w40 {
  position: relative;
  width: 40%;
}


.w50 {
  position: relative;
  width: 45%;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}

.w60 {
  position: relative;
  width: 60%;
}

.w100 {
  position: relative;
  width: 100%;
}

.gap-4 {
  gap: 2rem;
}

.f-between {
  justify-content: space-between;
  align-items: center
}

td{
  padding: 20px;
}

.text-center{
  text-align: center;
}
